# HA-DevOps-Agent

![Supports aarch64 Architecture][aarch64-shield]
![Does not Support amd64 Architecture][amd64-no-shield]
![Does not Support armhf Architecture][armhf-no-shield]
![Does not Support armv7 Architecture][armv7-no-shield]
![Does not Support i386 Architecture][i386-no-shield]

Host a DevOps Agent on your HomeAssistant

{% if channel == "edge" %}
## WARNING! THIS IS AN EDGE VERSION!
{% endif %}
{% if channel == "beta" %}
## WARNING! THIS IS A BETA VERSION!

{% endif %}
[aarch64-shield]: https://img.shields.io/badge/aarch64-yes-green.svg
[amd64-no-shield]: https://img.shields.io/badge/amd64-no-red.svg
[armhf-no-shield]: https://img.shields.io/badge/armhf-no-red.svg
[armv7-no-shield]: https://img.shields.io/badge/armv7-no-red.svg
[i386-no-shield]: https://img.shields.io/badge/i386-no-red.svg
[scr-01]: images/settings.png
